form {
  .app-form {
    border-radius: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin: auto;
    text-align: left;
    padding: 1rem;
    background-color: #edeaea;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  display: flex;
  flex-direction: column;

  input,
  textarea {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }

  button {
    background-color: #1c75bc;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: #155a8a;
    }
  }
}

.error {
  color: red;
  margin-bottom: 0.25rem;
  font-size: 0.85em;
}
