.job-description {
  font-family: sans-serif;
  color: black;
  background-color: #edeaea;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 1rem auto;

  p {
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
  }

  .section-description {
    background: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 720px;
    margin-top: 2rem;
  }

  .requirements-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 1rem;
  }

  .section-requirements {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-top: 1rem;
    flex: 1 1 0;
  }

  .div-test {
    float: right;
  }

  ul {
    list-style-position: inside;
    text-align: left;
  }

  .what-we-offer {
    background: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 360px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 100%;
  }

  .good-to-have-list {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .job-description {
    .section-description {
      width: 50%;
    }

    .requirements-row {
      flex-direction: row;
      width: 50%;
      margin: auto;
    }

    .what-we-offer {
      width: 20%;
      margin: 1rem 0;
    }
  }
}
